#!/usr/bin/make -f

%:
	dh $@

# note, current dh_auto_* understands Makefile.PL and handles it appropriately.

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install
	# Delete the tcpserver-based toplevel script.  All run-scripts except
	# for qpsmtpd-forkserver are now deprecated upstream.
	# Note that upstream has also renamed qpsmtpd-forkserver to just plain
	# qpsmtpd in the deprecation branch so beware if it gets merged !
	rm -f $(CURDIR)/debian/qpsmtpd/usr/bin/qpsmtpd
	# remove pf2qp.pl, used to generate Constants.pm in upstream SVN
	rm -f $(CURDIR)/debian/qpsmtpd/usr/share/perl5/Qpsmtpd/Postfix/pf2qp.pl

# vi:set noexpandtab:
